.tooling-apps-cache/app/airlinecompanyintegrationsystem/airlineCompany1/airlineCompany1FlightSearch.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core" xmlns:http="http://www.mulesoft.org/schema/mule/http"
	xmlns="http://www.mulesoft.org/schema/mule/core"
	xmlns:doc="http://www.mulesoft.org/schema/mule/documentation" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd
http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd">
	<http:request-config name="HTTP_Request_config" doc:name="HTTP Request configuration">
        <http:request-connection host="localhost" port="8081" />
    </http:request-config>
	
	<flow name="airlineCompany1FlightSearchFlow" doc:id="94366282-178a-40c1-9462-c9c6d708824c" >
		<ee:transform doc:name="Set Search Body" doc:id="372d94f2-ee4f-4d58-bdd7-a6c2498fc01a" >
			<ee:message >
				<ee:set-payload ><![CDATA[%dw 2.0
output application/json
---
{
    from: payload.from,
    to: payload.to,
    origin:  upper(payload.fromAirportIATA),
    destination: upper(payload.toAirportIATA),
    flightClass: payload.flightClass,
    passengerCount: (payload.adultPassengerCount as Number) + (payload.childPassengerCount as Number)
}]]></ee:set-payload>
			</ee:message>
		</ee:transform>
		<http:request method="GET" doc:name="Get flights" doc:id="797c86e7-5bac-4986-9f5f-75bbbe29f23b" config-ref="HTTP_Request_config" path="/api/flights/search"/>
		<logger level="INFO" doc:name="Logger" doc:id="4e4297ee-34d1-476f-a501-68c32b564cd6" message="#[payload]"/>
	</flow>
</mule>
