.tooling-apps-cache/app/airlinecompanyintegrationsystem/airlineCompany3/airlineCompany3FlightBooking.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:http="http://www.mulesoft.org/schema/mule/http" xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core"
	xmlns="http://www.mulesoft.org/schema/mule/core"
	xmlns:doc="http://www.mulesoft.org/schema/mule/documentation" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd
http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd">
	<http:request-config name="HTTP_Request_BookFlight3" doc:name="HTTP Request configuration">
        <http:request-connection host="localhost" port="8083" connectionIdleTimeout="300000000"/>
    </http:request-config>
	<flow name="airlineCompany3FlightBookingFlow" doc:id="bef6ef95-0959-462a-87bc-819f473f2f60" >
		<ee:transform doc:name="Set booking body" doc:id="1f588889-db29-466d-81e7-e8c7bf359fb4" >
			<ee:message >
				<ee:set-payload ><![CDATA[%dw 2.0
output application/json
var passengersList = payload.passengers map (passenger) -> 
    "{ name: \"" ++ passenger.firstName ++ " " ++ passenger.lastName ++ "\", birthDate: \"" ++ passenger.birthDate ++ "\", passport: \"" ++ passenger.passportNumber ++ "\" }"

var passengersString = "[" ++ (passengersList joinBy ", ") ++ "]"
---
{
  query: "mutation BookFlight {
    BookFlight(
      input: {
        flightSerialNumber: \"" ++ payload.flightNumber ++ "\",
        flightClass: \"" ++ payload.flightClass ++ "\",
        email: \"" ++ payload.email ++ "\",
        passengers: " ++ passengersString ++ "
      }
    ) {
      message
    }
  }"
}
]]></ee:set-payload>
			</ee:message>
		</ee:transform>
		<http:request method="POST" doc:name="Book flight" doc:id="6684ace0-91e6-41c7-8433-e60859c5929e" config-ref="HTTP_Request_BookFlight3" path="/graphql" />
		<error-handler >
			<on-error-continue enableNotifications="true" logException="true" doc:name="On Error Continue" doc:id="6a0dd7fb-8f39-4c47-8094-e526ad99aa4b" type="ANY" >
				<logger level="INFO" doc:name="Request timeout" doc:id="b0fe2887-1d91-40ce-851f-90e855a13485" message="Request timeout" />
			</on-error-continue>
		</error-handler>
	</flow>
</mule>
