.tooling-apps-cache/app/airlinecompanyintegrationsystem/airlineCompany2/airlineCompany2FlightSearch.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:apikit-soap="http://www.mulesoft.org/schema/mule/apikit-soap" xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core"
	xmlns:http="http://www.mulesoft.org/schema/mule/http"
	xmlns="http://www.mulesoft.org/schema/mule/core" xmlns:doc="http://www.mulesoft.org/schema/mule/documentation" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd
http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd
http://www.mulesoft.org/schema/mule/apikit-soap http://www.mulesoft.org/schema/mule/apikit-soap/current/mule-apikit-soap.xsd">
	<http:request-config name="HTTP_Request_config_SOAP" doc:name="HTTP Request configuration">
        <http:request-connection host="localhost" port="8082" />
    </http:request-config>
	
	<flow name="airlineCompany2FlightSearchFlow" doc:id="94366282-178a-40c1-9462-c9c6d708824c" >
		<ee:transform doc:name="Set Search Body" doc:id="372d94f2-ee4f-4d58-bdd7-a6c2498fc01a" >
			<ee:message >
				<ee:set-payload ><![CDATA[%dw 2.0
output text/xml
ns soapenv http://schemas.xmlsoap.org/soap/envelope/
ns loc http://localhost:8082/
---
soapenv#Envelope: {
    soapenv#Header: {},
    soapenv#Body: {
        loc#SearchFlightsRequest: {
            loc#From: if (payload.return) payload.payload.returnFrom else payload.payload.from,
            loc#To: if (payload.return) payload.payload.returnTo else payload.payload.to,
            loc#DepartureAirportIATA: if(payload.direct) if (payload.return) upper(payload.payload.toAirportIATA) else upper(payload.payload.fromAirportIATA) else '',
            loc#ArrivalAirportIATA: if(payload.direct) if (payload.return) upper(payload.payload.fromAirportIATA) else upper(payload.payload.toAirportIATA) else '',
            loc#FlightClass: payload.payload.flightClass,
            loc#PassengerCount: (payload.payload.adultPassengerCount as Number) + (payload.payload.childPassengerCount as Number)
        }
    }
}

]]></ee:set-payload>
			</ee:message>
		</ee:transform>
		<http:request method="POST" doc:name="Get flights" doc:id="797c86e7-5bac-4986-9f5f-75bbbe29f23b" config-ref="HTTP_Request_config_SOAP" path="/ws"/>
		<ee:transform doc:name="To JSON" doc:id="944457f9-4930-4430-97fd-7031f2fb2a29" >
			<ee:message >
				<ee:set-payload ><![CDATA[%dw 2.0
output application/json
---
if (isEmpty(payload.Envelope.Body.SearchFlightsResponse.Flights.Flight)) []
else payload.Envelope.Body.SearchFlightsResponse.Flights.*Flight as Array]]></ee:set-payload>
			</ee:message>
		</ee:transform>
	</flow>
</mule>
