airlinecompanyintegrationsystem/src/main/mule/airlineCompany1/airlineCompany1FlightBooking.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:http="http://www.mulesoft.org/schema/mule/http" xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core"
	xmlns="http://www.mulesoft.org/schema/mule/core"
	xmlns:doc="http://www.mulesoft.org/schema/mule/documentation" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd
http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd">
	<http:request-config name="HTTP_Request_BookFlight1" doc:name="HTTP Request configuration">
        <http:request-connection host="localhost" port="8081" connectionIdleTimeout="300000000"/>
    </http:request-config>
	<flow name="airlineCompany1FlightBookingFlow" doc:id="c284da7a-747c-4e0b-9062-0692dc0d388c" >
		<ee:transform doc:name="Set booking body" doc:id="ec9ac2a8-a777-4fb6-b1e5-c9a0bb851c19" >
			<ee:message >
				<ee:set-payload ><![CDATA[%dw 2.0
output application/json
import * from dw::core::Dates
---
{
	flightNumber: payload.flightNumber, 
	flightClass: payload.flightClass,
	email: payload.email,
	passengers: payload.passengers map ( passenger , indexOfPassenger ) -> {
		passportNumber: passenger.passportNumber,
		firstName: passenger.firstName,
		lastName: passenger.lastName,
		dateOfBirth: passenger.birthDate
	}
}]]></ee:set-payload>
			</ee:message>
		</ee:transform>
		<http:request method="POST" doc:name="Book flight" doc:id="eb97f9f7-8cca-441b-a18e-3d4edbbaf88c" config-ref="HTTP_Request_BookFlight1" path="/api/bookings"/>
		<error-handler >
			<on-error-continue enableNotifications="true" logException="true" doc:name="On Error Continue" doc:id="94ed0be6-b178-4711-8cc1-136d3bbb5121" type="ANY">
				<logger level="INFO" doc:name="Request timeout" doc:id="d5b1e2c0-f9f1-4c4c-8f31-eb79569231f3" message="Request timeout" />
			</on-error-continue>
		</error-handler>
	</flow>
</mule>
