airlinecompanyintegrationsystem/src/main/mule/currencyApi/currencyApiGetter.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core" xmlns:http="http://www.mulesoft.org/schema/mule/http"
	xmlns="http://www.mulesoft.org/schema/mule/core"
	xmlns:doc="http://www.mulesoft.org/schema/mule/documentation" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd
http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd">
	<http:request-config name="HTTPS_Request_Config123" doc:name="HTTP Request Configuration" doc:id="3b22cd29-d052-4a61-8547-e6f71a0ff859">
        <http:request-connection protocol="HTTPS" host="v6.exchangerate-api.com" port="443" />
    </http:request-config>
	<flow name="currencyApiGetterFlow" doc:id="270ef9ef-70ee-449e-b3d2-7bdb25b0adf7" >
		<set-variable value="#[payload.currency]" doc:name="Set target currency" doc:id="0031b7bc-d3fa-4dd2-aaec-d23bc7cbf8c0" variableName="targetCurrency"/>
		<http:request method="GET" doc:name="Get currencies" doc:id="68525afa-be77-4b51-bc13-b1d67ef5d181" config-ref="HTTPS_Request_Config123" path="/v6/dcee6873d3332f25efe6f628/latest/USD"/>
		<ee:transform doc:name="Extract needed currencies" doc:id="0c97952f-68fc-41d2-bdbc-d79fb0ed7c36" >
			<ee:message >
				<ee:set-payload ><![CDATA[%dw 2.0
output application/java
---
{
	currency: {
		target: payload.conversion_rates[(vars.targetCurrency)],
		USD: payload.conversion_rates.USD,
		EUR: payload.conversion_rates.EUR,
		RSD: payload.conversion_rates.RSD
	}
}]]></ee:set-payload>
			</ee:message>
		</ee:transform>
	</flow>
</mule>
