airlinecompanyintegrationsystem/src/main/mule/airlineCompany2/airlineCompany2FlightBooking.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:http="http://www.mulesoft.org/schema/mule/http" xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core"
	xmlns="http://www.mulesoft.org/schema/mule/core"
	xmlns:doc="http://www.mulesoft.org/schema/mule/documentation" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd
http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd">
	<http:request-config name="HTTP_Request_BookFlight2" doc:name="HTTP Request configuration">
        <http:request-connection host="localhost" port="8082" connectionIdleTimeout="300000000"/>
    </http:request-config>
	<flow name="airlineCompany2FlightBookingFlow" doc:id="e41ee138-8464-4f44-9ffa-1a472e5a27ea" >
		<ee:transform doc:name="Set booking body" doc:id="9ec5e8b4-7d3c-4f66-92d9-37d5db0791c7" >
			<ee:message >
				<ee:set-payload ><![CDATA[%dw 2.0
output text/xml
ns soapenv http://schemas.xmlsoap.org/soap/envelope/
ns loc http://localhost:8082/
---
soapenv#Envelope: {
    soapenv#Header: {},
    soapenv#Body: {
        loc#BookFlightRequest: {
            loc#FlightCode: payload.flightNumber,
            loc#Class: payload.flightClass,
            loc#CustomerEmail: payload.email,
            loc#Passengers: payload.passengers map ( passenger , indexOfPassenger ) -> {
            	loc#FullName: passenger.firstName ++ " " ++ passenger.lastName,
				loc#BirthDate: passenger.birthDate,
				loc#PassportID: passenger.passportNumber
			}
        }
    }
}]]></ee:set-payload>
			</ee:message>
		</ee:transform>
		<http:request method="POST" doc:name="Book flight" doc:id="cd96efbb-52f2-4ed7-8127-029aef0e50eb" config-ref="HTTP_Request_BookFlight2" path="/ws"/>
		<error-handler >
			<on-error-continue enableNotifications="true" logException="true" doc:name="On Error Continue" doc:id="c16f721c-9ba3-4f51-82ce-d9934154eff5" type="ANY">
				<logger level="INFO" doc:name="Request timeout" doc:id="2ecda8c3-3a1a-4743-82db-a0f1f80b97c7" message="Request timeout"/>
			</on-error-continue>
		</error-handler>
	</flow>
</mule>
