.tooling-apps-cache/app/airlinecompanyintegrationsystem/airportApi/airportApiSearch.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:http="http://www.mulesoft.org/schema/mule/http" xmlns="http://www.mulesoft.org/schema/mule/core"
	xmlns:doc="http://www.mulesoft.org/schema/mule/documentation"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd">
	<http:request-config name="HTTP_Request_SearchAirports" doc:name="HTTP Request configuration">
        <http:request-connection host="localhost" port="8084" />
    </http:request-config>
	<flow name="airportApiSearchFlow" doc:id="628444f0-fd88-4ac4-b7a5-0231f7e62a1c" >
		<choice doc:name="Get airports" doc:id="1de93b3b-fd34-4c75-9630-569b2713536f" >
			<when expression="#[payload.search != null]" >
				<http:request method="GET" doc:name="Search airports" doc:id="3fa4c3b8-3646-4dcb-9b77-945bdd474d8a" config-ref="HTTP_Request_SearchAirports" path="/airports" >
					<http:query-params ><![CDATA[#[output application/java
---
{
	search : payload.search
}]]]></http:query-params>
				</http:request>
			</when>
			<otherwise >
				<http:request method="GET" doc:name="Get all airports" doc:id="a02941e1-eae5-44d5-89d9-da81de1bdec0" config-ref="HTTP_Request_SearchAirports" path="/airports" />
			</otherwise>
		</choice>
	</flow>
</mule>
