.tooling-apps-cache/app/airlinecompanyintegrationsystem/handler/flightBookingHandler.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core" xmlns="http://www.mulesoft.org/schema/mule/core"
	xmlns:doc="http://www.mulesoft.org/schema/mule/documentation"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd">
	<flow name="flightBookingHandlerFlow" doc:id="da56da9f-6f29-4c43-8079-16b0bafe497a" >
		<set-variable value="#[payload]" doc:name="Set bookings" doc:id="78486e4e-8be7-4410-b522-109196dd7fc4" variableName="bookings"/>
		<parallel-foreach doc:name="Parallel For Each" doc:id="98b886e7-f0a1-4e66-be37-c68fdfacb512" collection="payload.flightNumbers">
			<set-payload value="#[%dw 2.0&#10;output application/json&#10;---&#10;{&#10;    flightNumber: payload,&#10;    flightClass: vars.bookings.flightClass,&#10;    email: vars.bookings.email,&#10;    passengers: vars.bookings.passengers&#10;}]" doc:name="Prepare booking information" doc:id="b982e69b-6b51-4fb8-9d0e-06990ea701f9" />
			<flow-ref doc:name="Book flight" doc:id="54312576-9dc8-4f81-b7fb-c1a767282541" name="flightBookingFlow" />
		</parallel-foreach>
		<ee:transform doc:name="Booking successfull" doc:id="734583c7-e529-49aa-864c-65f219d0a6dd" >
			<ee:message >
				<ee:set-payload ><![CDATA[%dw 2.0
output application/json
---
{
	message: "Booking successfull."
}]]></ee:set-payload>
			</ee:message>
		</ee:transform>
	</flow>
	<flow name="flightBookingFlow" doc:id="bdc1ef09-d61a-48de-9d7a-3a7037b20b2b" >
		<async doc:name="Async" doc:id="fdac5735-1376-4ff3-90fb-b60f82fe18b8" >
			<choice doc:name="Choice" doc:id="b01a6765-9150-412d-bbc3-ae8198cfc423">
			<when expression='#[payload.flightNumber[0 to 2] == "AL1"]'>
				<flow-ref doc:name="Book flight" doc:id="64db2a01-a7df-4944-8335-19666358f1a4" name="airlineCompany1FlightBookingFlow" />
			</when>
			<otherwise>
				<choice doc:name="Choice" doc:id="0b6c1220-0237-410f-a7f1-31f8d8f311b2">
					<when expression='#[payload.flightNumber[0 to 2] == "AL2"]'>
						<flow-ref doc:name="Book flight" doc:id="26c922b4-8b9b-4ddd-9ca3-ff301b70fbe1" name="airlineCompany2FlightBookingFlow" />
					</when>
					<otherwise>
							<flow-ref doc:name="Book flight" doc:id="5385bd12-07c4-4d6d-a5fe-3ca5e855b599" name="airlineCompany3FlightBookingFlow" />
					</otherwise>
				</choice>
			</otherwise>
		</choice>
		</async>
	</flow>
</mule>